---
import { getCollection } from "astro:content";

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";

// Component Imports
import CallToAction from "../components/CallToAction.astro";
import Grid from "../components/Grid.astro";
import Hero from "../components/Hero.astro";
import Icon from "../components/Icon.astro";
import Pill from "../components/Pill.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";

// Page section components
import Skills from "../components/Skills.astro";
import { Picture } from "astro:assets";

// Content Fetching: List four most recent work projects
const projects = (await getCollection("work"))
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
  .slice(0, 4);

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout>
  <div class="stack gap-20 lg:gap-48">
    <div class="wrapper stack gap-8 lg:gap-20">
      <header class="hero">
        <Hero
          title="Hello, my name is Ben Shuster"
          taglines={[
            "I do a little bit of everything and never stop learning.",
            "Code is my canvas, and a keyboard is my brush.",
            "a little more then typing, a little less than magic.",
            "Code is just text with a little bit of flavor.",
            "Bing Bang Bong, I'm a developer with a song.",
            "So many ideas, so little time.",
            "Nerd by day, and still a nerd by night.",
            "HTML stands for How To Make Lasagna.",
            "This text is random and goofy, just like me.",
            "I have a spaghetti due at 11:59pm.",
            "I'm Ben, but my friends call me Ben'); DROP TABLE Users;--",
            "How do you comfort a JavaScript bug? You console it.",
          ]}
          align="start"
        >
          <div class="roles">
            <Pill><Icon icon="code" size="1.33em" /> Developer</Pill>
            <Pill><Icon icon="pencil-line" size="1.33em" /> Designer</Pill>
            <!-- <Pill><Icon icon="microphone-stage" size="1.33em" /> Speaker</Pill>
            <Pill><Icon icon="pencil-line" size="1.33em" /> Writer</Pill> -->
          </div>
        </Hero>

        <Picture
          alt="Ben Shuster smiling"
          width="480"
          height="620"
          src={import.meta.env.BASE_URL + "/assets/ben.jpg"}
          class={"hover:scale-110 transition-transform ease-in-out duration-100 hover:rotate-10"}
        />
      </header>

      <Skills />
    </div>

    <main class="wrapper stack gap-20 lg:gap-48">
      <section class="section with-background with-cta">
        <header class="section-header stack gap-2 lg:gap-4">
          <h3>Selected Work</h3>
          <p>
            Take a look below at some of my featured work for clients from the
            past few years.
          </p>
        </header>

        <div class="gallery">
          <Grid variant="offset">
            {
              projects.map((project) => (
                <li>
                  <PortfolioPreview project={project} />
                </li>
              ))
            }
          </Grid>
        </div>

        <div class="cta">
          <CallToAction href={"../work"}>
            View All
            <Icon icon="arrow-right" size="1.2em" />
          </CallToAction>
        </div>
      </section>

      <section class="section with-background bg-variant">
        <header class="section-header stack gap-2 lg:gap-4">
          <h3>Tech Stack</h3>
          <p>
            I have experience with a wide range of technologies and tools. Here
            are a few that I've worked with recently.
          </p>
        </header>

        <div class="gallery">
          <Grid variant="small">
            {
              [
                {
                  logo: import("../assets/logos/LogoReact.png"),
                  name: "React",
                  href: "https://reactjs.org/",
                },
                {
                  logo: import("../assets/logos/LogoSvelte.png"),
                  name: "Svelte",
                  href: "https://svelte.dev/",
                },
                {
                  logo: import("../assets/logos/LogoNext.png"),
                  name: "Next.js",
                  href: "https://nextjs.org/",
                },
                {
                  logo: import("../assets/logos/LogoDocker.png"),
                  name: "Docker",
                  href: "https://www.docker.com/",
                },
                {
                  logo: import("../assets/logos/LogoFigma.png"),
                  name: "Figma",
                  href: "https://www.figma.com/",
                },
                {
                  logo: import("../assets/logos/LogoGit.png"),
                  name: "Git Version Control",
                  href: "https://git-scm.com/",
                },
                {
                  logo: import("../assets/logos/LogoGitHub.png"),
                  name: "GitHub",
                  href: "https://github.com",
                },
                {
                  logo: import("../assets/logos/LogoMongo.png"),
                  name: "MongoDB",
                  href: "https://mongodb.com",
                },
                {
                  logo: import("../assets/logos/LogoPostgreSQL.png"),
                  name: "PostgreSQL",
                  href: "https://postgresql.org",
                },
                {
                  logo: import("../assets/logos/LogoTailwind.png"),
                  name: "Tailwind CSS",
                  href: "https://tailwindcss.com",
                },
                {
                  logo: import("../assets/logos/LogoVSCode.png"),
                  name: "Visual Studio Code",
                  href: "https://code.visualstudio.com",
                },
                {
                  logo: import("../assets/logos/LogoHTML.png"),
                  name: "HTML",
                  href: "https://developer.mozilla.org/en-US/docs/Web/HTML",
                },
                {
                  logo: import("../assets/logos/LogoCSS.png"),
                  name: "CSS",
                  href: "https://developer.mozilla.org/en-US/docs/Web/CSS",
                },
                {
                  logo: import("../assets/logos/LogoJS.png"),
                  name: "JavaScript",
                  href: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
                },
                {
                  logo: import("../assets/logos/LogoNode.png"),
                  name: "Node.js",
                  href: "https://nodejs.org",
                },
                {
                  logo: import("../assets/logos/LogoPython.png"),
                  name: "Python",
                  href: "https://python.org",
                },
                {
                  logo: import("../assets/logos/LogoTS.png"),
                  name: "TypeScript",
                  href: "https://typescriptlang.org",
                },
                {
                  logo: import("../assets/logos/LogoAuth0.png"),
                  name: "Auth0",
                  href: "https://auth0.com",
                },
              ].map((brand) => (
                <a
                  href={brand.href}
                  target="_blank"
                  rel="noopener"
                  class="mention-card hover:shadow-lg transition-shadow shadow-sm"
                >
                  <Picture
                    formats={["avif", "webp"]}
                    alt={`${brand.name} logo`}
                    width="48"
                    height="48"
                    src={brand.logo}
                    class="!mr-5"
                  />
                  <span>{brand.name}</span>
                </a>
              ))
            }
          </Grid>
        </div>
      </section>
    </main>
  </div>
</BaseLayout>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .roles {
    display: none;
  }

  .hero img {
    aspect-ratio: 5 / 4;
    object-fit: cover;
    object-position: top;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  @media (min-width: 50em) {
    .hero {
      display: grid;
      grid-template-columns: 6fr 4fr;
      padding-inline: 2.5rem;
      gap: 3.75rem;
    }

    .roles {
      margin-top: 0.5rem;
      display: flex;
      gap: 0.5rem;
    }

    .hero img {
      aspect-ratio: 3 / 4;
      border-radius: 4.5rem;
      object-fit: cover;
    }
  }

  /* ====================================================== */

  .section {
    display: grid;
    gap: 2rem;
  }

  .with-background {
    position: relative;
  }

  .with-background::before {
    --hero-bg: var(--bg-image-subtle-2);

    content: "";
    position: absolute;
    pointer-events: none;
    left: 50%;
    width: 100vw;
    aspect-ratio: calc(2.25 / var(--bg-scale));
    top: 0;
    transform: translateY(-75%) translateX(-50%);
    background:
      url("/personal-site/assets/backgrounds/noise.png") top center/220px repeat,
      var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
      var(--gray-999);
    background-blend-mode: overlay, normal, normal, normal;
    mix-blend-mode: var(--bg-blend-mode);
    z-index: -1;
  }

  .with-background.bg-variant::before {
    --hero-bg: var(--bg-image-subtle-1);
  }

  .section-header {
    justify-self: center;
    text-align: center;
    max-width: 50ch;
    font-size: var(--text-md);
    color: var(--gray-300);
  }

  .section-header h3 {
    font-size: var(--text-2xl);
  }

  @media (min-width: 50em) {
    .section {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "header header header header" "gallery gallery gallery gallery";
      gap: 5rem;
    }

    .section.with-cta {
      grid-template-areas: "header header header cta" "gallery gallery gallery gallery";
    }

    .section-header {
      grid-area: header;
      font-size: var(--text-lg);
    }

    .section-header h3 {
      font-size: var(--text-4xl);
    }

    .with-cta .section-header {
      justify-self: flex-start;
      text-align: left;
    }

    .gallery {
      grid-area: gallery;
    }

    .cta {
      grid-area: cta;
    }
  }

  /* ====================================================== */

  .mention-card {
    display: flex;
    height: 7rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    color: var(--gray-300);
    background: var(--gradient-subtle);
    /* box-shadow: var(--shadow-sm); */
  }
  /* when the mention card is too small, make the content vertical */
  @media (max-width: 50em) {
    .mention-card {
      flex-direction: column;
      gap: 0.5rem;
    }
    .mention-card img {
      margin-left: calc(var(--spacing) * 5) !important;
    }
  }
  @media (min-width: 50em) {
    .mention-card {
      border-radius: 1.5rem;
      height: 9.5rem;
    }
  }
</style>
